@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #FF8400;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}
th{
    transition-duration: 0.7s;
    transition-property: all;
}
th:hover{
    box-shadow:  0px 1px #202433, 0px 2px #202433,0px 3px #202433;
    transform: translate3d(0px, -6px ,-1px);
    
   
    transition-duration: 0.7s;
    transition-property: all;
    transition-timing-function: line;
    transform-style: preserve-3d;
}
td{
    transition-duration: 0.5s;
    transition-property: all;
}
td:hover{
    background: #363f5f;
    background: #022421;
     box-shadow:  0px 1px #202433, 0px 2px #202433,0px 3px #202433;
     transform: translate3d(0px, -3px ,-1px);
     text-shadow:  1px 0px 7px #fff, 1px 0px 2px #fff, 1px 0px 3px #d1a7f3;
     color: #fff;
     transition-delay: 0.1s;
     transition-timing-function: ease-out;
     transform-style: preserve-3d;
}
